<div class="elevated my-5 p-3">

  <h3 class="text-center"><%="You answered #{@score} out of #{@questions.size} questions correctly"%></h3>
  
  <!--TODO: Add timezone support-->
  <div class="mt-4">
    <%@history.each_with_index do |h, index|%>
      <% index > 4 && break%>
      <%= DateTime.iso8601(h["time"]).strftime("At %I:%M%p, %m/%d/%Y, you answered #{h["score"]}/#{h["num_questions"]} questions correctly")%>
      <br/>
    <%end%>
  </div>
  <div class="d-flex justify-content-around" role="group" aria-label="Basic example">
    <%= button_to "Take another quiz", url_options={controller: "pages", action: "home"},  method: :get, class: "mt-5 btn btn-outline-light"%>
    <%= link_to "Redo the quiz", quiz_path(questions: params[:questions]), method: :get, class: "mt-5 btn btn-outline-light"%>

  </div>
</div>
