<footer class="p-3 elevated d-flex justify-content-between">
  <div>Highest Level Achieved: <br/> CR</div>
  <div>
    <a href="http://facebook.com" class="fa fa-facebook"></a>
    <a href="http://twitter.com" class="fa fa-twitter"></a>
    <a href="http://linkedin.com" class="fa fa-linkedin"></a>
  </div>
  
</footer>