<header class="p-3 elevated d-flex justify-content-between align-items-center">
  <a href="/" class="home-btn"><h2>Quiz+</h2></a>
  <span class="text-right">Yuichi Kageyama <br/>S3718342@student.rmit.edu.au</span>
  
</header>